<!--***************** -->
<!-- **** PAGINA LIST **** -->
<!-- ***************** -->
<div id="pagina" class="container-fluid">



	<!-- ***************** -->
	<!-- **** TOP  MASTER **** -->
	<!-- ***************** -->
	<div alpha-no-touch-move id="contentTopMaster">


		<!-- ***************** -->
		<!-- **** TOP  **** -->
		<!-- ***************** -->
		<div class="row" id="top">

			<!-- COL 1  -->
			<div class="colonna col-xs-2" id="topMenu" ng-click="TopMenuView()" >
				<span>
					<!-- <a href="" ng-show="!loading" class="alpha-anim-fromLeft"> -->
						<!-- <i class="fa fa-bars fa-2x"></i>  -->
					<!-- </a> -->
					<a href="" class="menu-icon alpha-anim-from-left" ng-show="!loading" ng-class="{'alpha-anim-topMenu': top2}" >
  						<span class="menu-icon-barra"></span>
					</a>

				</span>
			</div>

			<!-- COL 2  -->
			<div class="colonna col-xs-8">
				<div id="topTitle" ng-show="!loading" class="alpha-anim-flip">
					<p> MY LISTS </p>
				</div>
			</div>

			<!-- COL 3  -->
			<div class="colonna col-xs-2" id="topCont" ng-click="ListRefresh()">
				<div ng-show="!loading">
					<a href="">
						<p> {{(lists) ? lists.length : 0}}</p>
				 	</a>
				</div>
				<div ng-show="loading">
				 	<i class="fa fa-refresh fa-spin"></i>
				</div>
			</div>

		</div>
		<!-- **** fine TOP  **** -->


		<!-- ***************** -->
		<!-- **** TOP2 **** -->
		<!-- ***************** -->
		<div class="top2 float_clear" ng-if="top2" id="top2List">
			<div class="row">
				<!-- col ADD -->
				<div class="col-xs-5" ng-click="ListAddView()">
					<span ng-class="{'menu-disabled': top3.corrente != 'A'}">  
						<!-- <i class="fa fa-plus fa-2x"> </i>   -->
						NEW LIST
					</span>
				</div>
				<!-- col vuoto -->
				<div class="col-xs-1 vuoto">
				</div>			
				<!-- col LOAD -->
				<div class="col-xs-5" ng-click="ListLoadView()">
					<span ng-class="{'menu-disabled': top3.corrente != 'L'}"> 
						<!-- <i class="fa fa-sign-in fa-2x"> </i>  -->
						LOAD LIST
					</span>
				</div>
			</div>
		</div>
		<!-- **** fine TOP2 **** -->

		<!-- ***************** -->
		<!-- **** TOP3 **** -->
		<!-- ***************** -->
		<div class="top3 float_clear" ng-if="top3.visibile">
			<!-- <h2>{{top3.listTitle}}</h2> -->
			</br>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<!-- <label class="col-sm-2 control-label">List Name</label> -->
					<div class="col-sm-11">
						<input type="text" class="form-control" placeholder="{{top3.listTitlePlaceHolder}}" id="Top3ListName" ng-model="top3.listName" required>
					</div>
				</div>
				<div class="form-group">
					<!-- <label for="inputPassword3" class="col-sm-2 control-label">List Password</label> -->
					<div class="col-sm-11">
						<input type="password" class="form-control" placeholder="List Password" id="Top3ListPassword" ng-model="top3.listPassword" required>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-11">
						<button type="submit" class="btn btn-success btn-block" ng-click="Top3OK()">OK</button>
					</div>
				</div>
			</form>
		</div>
		<!-- **** fine TOP3 **** -->
	</div>
	<!-- **** fine TOP MASTER **** -->


	<!-- ***************** -->
	<!-- **** LISTS **** -->
	<!-- ***************** -->
	<div id="contentRigheMaster" ng-show="!loading" class="contentRigheMasterWithTop">
		<div id="contentRighe">
			<ul>
				<li ng-repeat="list in lists" class="righe righeList">  <!-- track by list.listId -->
					<div class="row">
						<div class="col-xs-5 alpha-cursor-pointer" id="rigaCol1" ng-click="listGo('{{list.listId}}')">
							<h4>{{list.listDesc}}</h4>
							<span class="alpha-selezionabile">KEY: &nbsp; {{list.listId}}</span>
						</div>
						<div class="col-xs-7 alpha-cursor-pointer" id="rigaCol2" ng-click="rigaCol3ok = !rigaCol3ok" ng-show="!rigaCol3ok">
							<span> {{list.itemsCount}} </span>
						</div>

						<div class="col-xs-7" id="rigaCol3" ng-show="rigaCol3ok">
							<div class="row">

								<span class="col-xs-3 alpha-cursor-pointer" ng-click='ModalDelListShow(list.listId,list.listDesc,$index)'> <i class="fa fa-trash fa-1x"> </i> </span>
								<span class="col-xs-3 alpha-cursor-pointer" ng-click=''> <i class="fa fa-list-ol fa-1x"> </i> </span>
								<span class="col-xs-3 alpha-cursor-pointer" ng-click=''> <i class="fa fa-share-alt fa-1x"> </i> </span>
								<span class="col-xs-3 alpha-cursor-pointer" ng-click='rigaCol3ok = !rigaCol3ok'> <i class="fa fa-chevron-right fa-1x"> </i> </span>

							</div>
						</div>

					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- **** fine LIST iTEMS **** -->	


</div>
<!-- **** fine PAGINA **** -->


